.navbar-text {
font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #7d7d7d;
margin-left: 100px;
}

.navbar-text:hover {
  color: #03A9F4;
  cursor: pointer;
}

.img {
  display: block;
  margin-top: 111px;
}